*{
    margin: 0;
    padding: 0;
}
.text-outline {
    color: transparent;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff; /* You can adjust the shadow color and blur radius as needed */
}

@media (max-width: 768px ) {
    .responsive-image {
     
     height: 50%;
      width: max-content;
     
      
      
    }
  .responsive-text{
    font-size:9px;
  }
  .bt-size{
    width: 100px;
    font-size: small;
    position: absolute;
    right:0;
   

  }
   .textSize{
      font-size: smaller;
      
    }
    .textSizeHeading{
      font-size:20px;
    }
    
    .res-div{
      position: absolute;
      bottom:0;
      
    }

}

